.staff_list_table_options {
  border-bottom: 1px solid var(--grey-accent-500);
  padding: 10px 0;
  margin: 20px 0;
}

.user_name_cell {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.fullname {
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.user_name_cell,
.user_name_cell_head {
  width: 200px;
}

.age_cell {
  text-overflow: ellipsis;
  overflow: hidden;
}
.age_cell,
.age_cell_head {
  width: 50px;
}

.gender_cell, 
.gender_cell_head {
  width: 50px;
}

.compartment_cell,
.compartment_cell_head {
  width: 160px;
}

.medicaid_number_cell,
.medicaid_number_cell_head {
  width: 160px;
}

.table_action_cell,
.table_action_cell_head {
  width: 80px;
}

.gender_cell,
.compartment_cell
{
  text-transform: capitalize;
}

@media screen and (max-width: 414px) {
  th,
  td {
    padding: 0 5px !important;
    width: 100%;
  }

  .user_image {
    margin-left: 0;
  }

  td:has(.age) {
    display: none;
    width: auto;
  }
}
